.cardh {
    padding-top: 12px;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
}

#customers td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}